<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paula</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <h1>Vislielākais čau Paula!</h1>
        <div class="buttons">
            <a href="matematika.html" class="button">Matemātika</a>
            <a href="latviesuvaloda.html" class="button">Latviešu valoda</a>
            <a href="angluvaloda.html" class="button">Angļu valoda</a>
            <a href="dabaszinibas.html" class="button">Dabas zinības</a>
        </div>
    </div>
</body>
</html>