<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paula</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>ČAU, PAULA!</h1>
        <div class="buttons">
            <a href="{{ url_for('matemātika') }}" class="button">Matemātika</a>
            <a href="{{ url_for('latviesuvaloda') }}" class="button">Latviešu valoda</a>
            <a href="{{ url_for('angluvaloda') }}" class="button">Angļu valoda</a>
            <a href="{{ url_for('dabaszinibas') }}" class="button">Dabas zinības</a>
        </div>
    </div>
</body>
</html>